*{font-family:Verdana, Geneva, sans-serif;}
table#myTable{margin-top:0px !important;}
table#myTable{margin-top:20px;border-collapse: collapse;border-spacing: 0; border:1px solid #999;}
table#myTable tr td{font-size:12px;padding:3px; text-align:left; border:1px solid #999;}
table#myTable tr th{font-size:12px;padding:3px; text-align:center; border:1px solid #999;}
table#myTable tr td.TAR{text-align:right; padding:5px;width:50px !important;}
.sb1NormalFont {
	color: #444444;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
p{margin-bottom:5px; font-size:11px !important; line-height:1 !important; padding:0 !important;}
table#headerTable tr td{ font-size:12px;}
h4{margin:0;}
h5{margin:15px 0 5px 0;}
input[type="text"] { border:1px solid #ccc;}