vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Sep 2011 12:14:05 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|14 Sep 2011 12:14:05 -0000
vti_filesize:IR|1314
vti_cachedlinkinfo:VX|S|../facebox/b.png S|tl.png S|tr.png S|bl.png S|br.png
vti_cachedsvcrellinks:VX|FSUS|plmis_js/facebox/b.png FSUS|plmis_js/facebox/tl.png FSUS|plmis_js/facebox/tr.png FSUS|plmis_js/facebox/bl.png FSUS|plmis_js/facebox/br.png
vti_backlinkinfo:VX|
